<div class="container">
<div id="editForm" ng-show="isAuthenticated">
    
    <div class="form-group">
        <label class="control-label" for="firstName">First Name</label>
        <input maxlength="100" ng-model="user6.firstname" type="text" required="required" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label" for="lastName">Last Name</label>
        <input maxlength="100" ng-model="user6.lastname" type="text" required="required" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <input maxlength="100" ng-model="user6.email" type="text" required="required" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="control-label" for="phone">Phonenumber</label>
        <input maxlength="100" ng-model="user6.phone" type="text" required="required" class="form-control"/>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="editError">{{editError}}</div>
</div>
<div class="form-group">
    <button ng-click="edit()" class="btn btn-primary" type="button">Save</button>
</div>

<div class="col-md-12">
    <div class="alert alert-success" role="alert" ng-show="isAuthenticated">{{editSucces}}</div>
</div>
</div>