<script src="app/js/script.js" type="text/javascript"></script>
<div id="header">
    <div class="intro container">
        <div class="inner-intro">
            <h1 class="header-title">
                <span>traveling</span> is always a "good idea"
            </h1>
        </div>
    </div>

    <!-- FORM - Find Ticket -->
    <section class="tour section-wrapper container">
        <h2 class="section-title">
            Find a Tour
        </h2>
        <p class="section-subtitle">
            Where would you like to fly?
        </p>
        <form role="form" id="searchForm">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="searchStart">City of origin</label>
                    <select class="form-control border-radius" name="searchFrom" ng-model="searchForm.from">
                        <option ng-repeat="a in airports" value="{{a.iatacode}}">{{a.city}}</option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="searchDestination">Destination</label>
                    <select class="form-control border-radius" name="searchDestination" ng-model="searchForm.to">
                        <option value="NULL">Select your Destination</option>
                        <option ng-repeat="a in airports" value="{{a.iatacode}}">{{a.city}}</option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="searchDate">Date</label>
                    <div class="input-group date" id="searchDate">
                        <input ng-model="searchForm.date" type="text" class="form-control border-radius border-right" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <label for="searchSeats">Number of Seats</label>
                    <input ng-model="searchForm.tickets" type="number" class="form-control border-radius border-right" id="searchSeats" />

                </div>

                <div class="form-group col-md-2">
                    <label>&nbsp;</label>
                    <button scroll-to="searchResultsPanel" ng-click="search()" type="button" id="searchButton" class="btn btn-default border-radius custom-button pull-right">
                        Search
                    </button>
                </div>

            </div>
        </form>
    </section>
    <!-- /.find ticket END FORM -->

</div>
<!-- /#header -->

<!-- Results panel -->
<div class="vertical-center" id="searchResultsPanel">
    <div class="col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-md-6 col-sm-8 col-xs-12">
        <div id="menu" class="panel panel-default vertical-center">
            <div class="panel-heading">
                <h4>Search results</h4>
                <!--<span class="pull-right clickable" data-effect="hide"><i class="fa fa-times"></i></span>-->
            </div>
            
            <div class="panel list-group panel-group" id="accordion">
                <div class="list-group-item" ng-show="searchMessage">
                    {{searchMessage}}
                </div>
                <div class="panel list-group panel-group" ng-repeat="f in flights track by $index"> 
                    <!-- Search result - main info for each result (data-target name on next line must be the same as for detail section - see below)) -->
                    <span ng-click="gotoResult($event)" href="#" class="list-group-item" data-toggle="collapse" data-target="#result-{{$index}}" data-parent="#menu">                             
                        <div class="row">
                            <div class="col-md-4 col-sm-12">{{f.airline}}</div>
                            <div class="col-md-4 col-sm-12 results text-center">Number of seats</div>
                            <div class="col-md-4 col-sm-12 text-right"><strong>{{f.date | date: 'dd-MM-yyyy'}}</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12 results">Destination</div>
                            <div class="col-md-4 col-sm-12 text-center"><strong>{{f.numberOfSeats}}</strong></div>
                            <div class="col-md-4 col-sm-12 text-right"><strong>{{f.traveltime | traveltime}}</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-12"><strong>{{f.destination | airport:airports}}</strong></div>
                            <div class="col-md-4 col-sm-12 text-center"></div>
                            <div class="col-md-4 col-sm-12 results text-right"><strong>PRICE: {{f.totalPrice | currency}}</strong></div>
                        </div>
                    </span>
                    <!-- End of main info section -->

                    <!-- Search result - detail section. id of next DIV element must be the same as data-target name from main info -->
                    <div id="result-{{$index}}" class="collapse searchDetail">
                        <div class="fluid-row">
                            <div class="row">
                                <div class="col-md-6">{{f.airline}}</div>
                                <div class="col-md-6 text-right results">Date</div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 results">City of Origin</div>
                                <div class="col-md-6 text-right results"><strong>{{f.date | date: 'dd-MM-yyyy'}}</strong></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6"><strong>{{f.origin | airport:airports}}</strong></div>
                                <div class="col-md-6 results text-right results">Travel time</div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 results">Destination</div>
                                <div class="col-md-6 text-right"><strong>{{f.traveltime | traveltime}}</strong></div>
                            </div>

                            <div class="row">
                                <div class="col-md-12"><strong>{{f.destination | airport:airports}}</strong></div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 results">Number of Seats</div>
                                <div class="col-md-6 results text-right results">Price per Seat</div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 results"><strong>1</strong></div>
                                <div class="col-md-6 results text-right results"><strong>{{f.totalPrice / f.numberOfSeats | currency}}</strong></div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">&nbsp;</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 results"></div>
                                <div class="col-md-8 results text-right results"><strong>TOTAL PRICE: {{f.totalPrice  | currency}}</strong></div>
                            </div>

                            <div class="row">
                                <div class="col-md-8 results"></div>
                                <div class="col-md-4 results text-right results">
                                    <button ng-click="reserve($index)" id="reservationButton" type="button" class="btn btn-default border-radius button-modal">Reserve</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-sm-2 col-xs-1"></div>
    </div>
</div>
<!-- ./Results Panel -->

<!-- We are the best -->
<section class="offer section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="offer-item">
                    <div class="icon">
                        <i class="ion-social-euro"></i>
                    </div>
                    <h3>
                        Best price
                    </h3>
                    <p>
                        Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos.
                    </p>
                </div>
            </div>

            <div class="col-sm-3 col-xs-6">
                <div class="offer-item">
                    <div class="icon">
                        <i class="ion-ios-telephone"></i>
                    </div>
                    <h3>
                        Great support
                    </h3>
                    <p>
                        Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos.
                    </p>
                </div>
            </div>
            <!-- /.col-md-3 -->

            <div class="col-sm-3 col-xs-6">
                <div class="offer-item">
                    <div class="icon">
                        <i class="ion-paper-airplane"></i>
                    </div>
                    <h3>
                        Biggest database
                    </h3>
                    <p>
                        Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos.
                    </p>
                </div>
            </div>
            <!-- /.col-md-3 -->

            <div class="col-sm-3 col-xs-6">
                <div class="offer-item">
                    <div class="icon">
                        <i class="ion-ios-locked"></i>
                    </div>
                    <h3>
                        Highest Security
                    </h3>
                    <p>
                        Class aptent taciti sociosutn tora torquent conub nost reptos himenaeos.
                    </p>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.offer -->
<!-- ./We are the best -->

<!-- Subscribe section -->
<div class="subscribe section-wrapper">
    <a class="brand-logo" href="index.html" title="HOME"><i class="ion-paper-airplane"></i> Time<span>Travel</span></a>
    <p class="subscribe-now">
        Subscribe to our Newsletter
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <div class="input-group">
                    <input type="email" class="form-control border-radius" placeholder="Email address">
                    <span class="input-group-btn">
                        <button class="btn btn-default border-radius custom-sub-btn" type="button">DONE</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <ul class="social-icon">
        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
        <li><a href="#"><i class="ion-social-linkedin-outline"></i></a></li>
        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
    </ul>
</div>
<!-- /.subscribe -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="text-left">
                    &copy; Copyright TimeTravel
                </div>
            </div>
            <div class="col-xs-4">
                <div class="text-left">
                    &nbsp;
                </div>
            </div>
            <div class="col-xs-4">
                <div class="top">
                    <a href="#header">
                        <i class="ion-arrow-up-b"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Reservation Wizard -->
<div id="reservationWizard">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Reservation wizard</h4>
                    <span class="pull-right clickable" ng-click="closeReservationWizard()"><i class="fa fa-times"></i></span>
                </div>
                <div class="row">

                    <div class="col-md-2"></div>
                    <div class="col-md-8">

                        <div class="row stepwizard">
                            <div class="stepwizard-row setup-panel">
                                <div class="stepwizard-step">
                                    <a ng-class="{'btn-primary': showStep1, 'btn-default': !showStep1}" ng-click="step1Button()" ng-disabled="!showStep1Visited" type="button" class="btn btn-circle">1</a>
                                    <p><strong>Registration</strong></p>
                                </div>
                                <div class="stepwizard-step">
                                    <a ng-class="{'btn-primary': showStep2, 'btn-default': !showStep2}" ng-click="step2Button()" ng-disabled="!showStep2Visited" type="button" class="btn btn-circle">2</a>
                                    <p><strong>Passengers</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="row setup-content col-md-12" id="step-1" ng-show="showStep1">
                                    <div class="col-md-12">
                                        <div class="col-md-5" id="reservationRegisterForm" ng-show="!isAuthenticated">
                                            New user? Register here.<br>
                                            <div class="form-group">
                                                <label class="control-label" for="reservationUsername">Username</label>
                                                <input maxlength="100" ng-model="reservationUsername" type="text" required="required" class="form-control" placeholder="Username"
                                                       />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="reservationPassword">Password</label>
                                                <input maxlength="100" ng-model="reservationPassword" type="password" required="required" class="form-control" placeholder="*****"
                                                       />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="reservationFirstname">First Name</label>
                                                <input maxlength="100" ng-model="reservationFirstname" type="text" required="required" class="form-control" placeholder="First Name"
                                                       />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="reservationLastname">Last Name</label>
                                                <input maxlength="100" ng-model="reservationLastname" type="text" required="required" class="form-control" placeholder="Last Name"
                                                       />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="reservationEmail">Email</label>
                                                <input maxlength="100" ng-model="reservationEmail" type="text" required="required" class="form-control" placeholder="Email"
                                                       />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="reservationPhone">Phonenumber</label>
                                                <input maxlength="100" ng-model="reservationPhone" type="text" required="required" class="form-control" placeholder="Phonenumber"
                                                       />
                                            </div>
                                            <div class="form-group">
                                                <button ng-click="reservationRegister()" class="btn btn-primary" type="button">Register</button>
                                            </div>
                                        </div>
                                        <div class="col-md-2" ng-show="!isAuthenticated"></div>

                                        <div class="col-md-5" id="reservationLoginForm" ng-show="!isAuthenticated">
                                            Already registered? Login here.<br>
                                            <div class="form-group">
                                                <label class="control-label" for="reservationUsernameLogin">Username</label>
                                                <input maxlength="100" ng-model="reservationUsernameLogin" id="reservationUsernameLogin" type="text" required="required" class="form-control" placeholder="Username"
                                                       />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="reservationPasswordLogin">Password</label>
                                                <input maxlength="100" ng-model="reservationPasswordLogin" id="reservationPasswordLogin" type="password" required="required" class="form-control" placeholder="*****"
                                                       />
                                            </div>
                                            <div class="form-group">
                                                <button ng-click="reservationLogin()" class="btn btn-primary" type="button">Login</button>
                                            </div>
                                            <br><br><br>
                                            <div class="alert alert-danger" role="alert" ng-show="reservationError">{{reservationError}}</div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="alert alert-success" role="alert" ng-show="isAuthenticated">{{reservationSucces}}</div>
                                            
                                            <hr />
                                        </div>

                                        <div class="col-md-12">

                                            <div class="pull-right">
                                                <div class="col-md-10">
                                                    <input id="reservationIsPassenger" type="checkbox" ng-model="reservationIsPassenger"> I'm a passenger!
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-primary" ng-click="nextStep()" type="button">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>



                            <div class="row setup-content col-md-12" id="step-2" ng-show="showStep2">
                                <div class="col-md-12" ng-show="!reserveMessage">
                                    <h4 class="pull-right"> Number of seats: {{passengerAmount}}</h4>
                                    <!-- Passanger - This part repeat for each passanger -->
                                    <div ng-repeat="p in reservationPassenger">
                                        <h5>Passenger #{{$index + 1}}</h5>
                                        <div class="form-group">
                                            <label class="control-label" for="reservationPassengerFirstname[{{$index}}]">First Name</label>
                                            <input maxlength="200" ng-model="p.firstname" type="text" required="required" class="form-control" placeholder="Enter First Name"
                                                   />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="passengerLastname{{$index}}">Last Name</label>
                                            <input maxlength="200" ng-model="p.lastname" type="text" required="required" class="form-control" placeholder="Enter Last Name"
                                                   />
                                        </div>
                                        <hr />
                                    </div>
                                    <!-- END - Passanger - This part repeat for each passanger -->
                                    <button ng-click="sendReservation()" class="btn btn-success pull-right" type="submit">Finish!</button>
                                </div>
                                <div class="col-md-12" ng-show="reserveMessage">
                                    <p class="alert" ng-class="{'alert-succes': reserveSucces, 'alert-danger': !reserveSucces}">{{reserveMessage}}</p>
                                    <hr />
                                    <button class="btn btn-success pull-right" ng-click="closeReservationWizard()">Thanks</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</div>